.main-div {
    background: #ebfaeb;
    color:rgba(0, 0, 0, 0.55);
    min-height: 83vh;
    display: flex;
    flex-flow: column;
    input {
        // margin: 20px 0;
    }
    .card {
        box-shadow: 0px 0px 8px green;
        h4 {
            margin-top: 20px;
        }
    }
    .required {
        color: red;
    }
    .form-group {
        margin-top: 15px;
    }
    .btn.btn-outline-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .alert.alert-danger {
        padding: 5px;
        margin-top: 10px;
    }
    .btn.btn-outline-info:disabled {
        border: 1px solid #d3d3d3;
        color: #d3d3d3;
    }
}