<div class="row m-0 w-100 main-div">
    <div class="col-md-4 col-sm-10 col-xs-10 offset-md-4 mt-5 card">
      <h4>Upload Images</h4>
      <div class="alert alert-success" role="alert" *ngIf="message">
          {{message}}
        </div>
      <form
        [formGroup]="imageUploadForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label>Images<span class="required">*</span></label>
          <input
            formControlName="image"
            class="form-control"
            type="file"
            name="files"
            placeholder="Image"
            accept="image/png, image/gif, image/jpeg,video/mp4,video/x-m4v,video/*"
            (change)="selectFile($event)"
            multiple
          />
          <div
            *ngIf="
            imageUploadForm.controls['image'].invalid &&
              (imageUploadForm.controls['image'].dirty ||
              imageUploadForm.controls['image'].touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="imageUploadForm.controls['image'].errors?.['required']">
              Upload at lease one image.
            </div>
          </div>
        </div>
        <input [disabled]="!imageUploadForm.valid" class="btn btn-outline-info" type="submit" value="Upload to Profile" />
      </form>
    </div>
  </div>
  