.main-div {
    background: #ebfaeb;
    color:rgba(0, 0, 0, 0.55);
    // min-height: 91.5vh;
    .container{
        padding: 100px 0;
        box-shadow: 0px 0px 10px green;
    }
    .text-center {
        padding-top: 110px;
    }
    img{
        box-shadow: 0px 0px 8px green;
        margin-left: -60px;
    }
    p {
        font-weight: bold;
    }
}