nav {
  background: #d3d3d3 !important;
  font-weight: bold;
  .logo {
    height: 50px;
    width: 70px;
  }
  .user-icon {
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px 5px;
    border-radius: 18px;
    border: 1px solid green;
  }
  .user-icon:active {
    border: none;
    box-shadow: none;
  }
  .user-icon:hover {
    border: none;
  }
  .space-between {
    justify-content: space-between;
  }
  .profile {
    margin-right: 45px;
  }
  .dropdown-menu.show {
    left: auto;
    right: 0;
  }
}
.footer {
  height: 45px;
  background: #d3d3d3;
  text-align: center;
  line-height: 45px;
}
.btn.btn-outline-info {
  margin-top: 20px;
  margin-left: 35%;
}

.btn.btn-outline-info:disabled {
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
}

.modal-body > img {
  margin-left: 25%;
}
.modal-body > .alert.alert-success {
  text-align: center;
}

.required {
  color: red;
}
.reset-modal-body {
  width: 70%;
}
.fg-1-g {
  margin-bottom: 20px;
}
.fg-1-g .alert-danger {
  padding: 5px;
  margin-top: 10px;
}

.modal-input-upload {
  margin-top: 20px;
}

.reset-pass-button {
  margin-left: 27% !important;
}
.confirm-pass {
  position: relative;
}
.fa-confirm {
  position: absolute;
  left: 90%;
  top: 55.5%;
  color: #228c22;
}

.nav-item.dropdown.profile .dropdown-menu {
  img {
    width: 25px;
    margin-right: 10px;
  }
  a {
    display: block;
    line-height: 2.3;
  }
}
