.main-div {
    background: #ebfaeb;
    color:rgba(0, 0, 0, 0.55);
    min-height: 83vh;
    display: flex;
    flex-flow: column;
    input {
        // margin: 20px 0;
    }
    .card {
        box-shadow: 0px 0px 8px green;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        h4 {
            margin-top: 20px;
        }
    }
    .media-list {
        border-bottom: 1px solid green;
        font-weight: bold;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .required {
        color: red;
    }
    .form-group {
        margin-top: 15px;
    }
    .btn.btn-outline-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .alert.alert-danger {
        padding: 5px;
        margin-top: 10px;
    }
    .btn.btn-outline-info:disabled {
        border: 1px solid #d3d3d3;
        color: #d3d3d3;
    }
    .fa.fa-delete-trash {
        float: right;
        margin-right: 0px;
        font-size: 25px;
    }
    .fa.fa-delete-trash:hover {
        color: red;
    }
    .delete-list-image {
        width: 50px;
        height: 50px;
        display: inline;
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }
}